---
// src/layouts/BaseLayout.astro
---

<!DOCTYPE html>
<html dir="ltr" lang="fr-FR">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="author" content="Horizon Conversion">
	<meta name="description" content="">

	<!-- Font Imports -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">

	<!-- Core Style -->
	<link rel="stylesheet" href="/assets/style.css">

	<!-- Font Icons -->
	<link rel="stylesheet" href="/assets/css/font-icons.css">

	<!-- Niche Demos -->
	<link rel="stylesheet" href="/assets/seo.css">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Document Title
	============================================= -->
	<title></title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar" class="transparent-topbar">
			<div class="container">

				<div class="row justify-content-between">
					<div class="col-12 col-md-auto">

						<!-- Top Links
						============================================= -->
						<div class="top-links">
							<ul class="top-links-container">
								<li class="top-links-item"><a href="/zones">Zones Sud Oise (60) / Val d'Oise (95)</a></li>
							</ul>
						</div><!-- .top-links end -->

					</div>

					<div class="col-12 col-md-auto">

						<!-- Top Contact
						============================================= -->
						<div class="top-links">
						    <ul class="top-links-container">
                        		<li class="top-links-item"><a href="tel:+33660921008">06 60 92 10 08</a></li>
                        		<li class="top-links-item"><a href="mailto:contact@horizon-conversion.fr">contact@horizon-conversion.fr</a></li>
                        	</ul>
                        </div><!-- .top-links end -->

					</div>
				</div>

			</div>
		</div><!-- #top-bar end -->

		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header floating-header header-size-md">
			<div id="header-wrap">
				<div class="container">
					<div class="header-row">

						<!-- Logo
						============================================= -->
						<div id="logo">
							<a href="index.html">
								<img class="logo-default" src="/assets/images/logo.png" alt="Logo">
							</a>
						</div><!-- #logo end -->

						<div class="header-misc">

							<a href="#" class="button button-rounded ms-3 d-none d-sm-block">Get Started</a>

						</div>

						<div class="primary-menu-trigger">
							<button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
								<span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
							</button>
						</div>

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu with-arrows">

							<ul class="menu-container">
								<li class="menu-item current"><a class="menu-link" href="/"><div>Home</div></a></li>
								<li class="menu-item"><a class="menu-link" href="#"><div>What We Do</div></a></li>
								<li class="menu-item mega-menu"><a class="menu-link" href="#"><div>Services</div></a>
									<div class="mega-menu-content mega-menu-style-2 px-0">
										<div class="container">
											<div class="row">
												<a href="demo-seo-optimizations.html" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
													<div class="feature-box">
														<div class="fbox-icon mb-2">
															<img src="/assets/images/icons/seo.svg" alt="Feature Icon" class="bg-transparent rounded-0">
														</div>
														<div class="fbox-content">
															<h3 class="text-transform-none ls-0">Seo Optimization</h3>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
														</div>
													</div>
												</a>
												<a href="demo-seo-social.html" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
													<div class="feature-box">
														<div class="fbox-icon mb-2">
															<img src="/assets/images/icons/social.svg" alt="Feature Icon" class="bg-transparent rounded-0">
														</div>
														<div class="fbox-content">
															<h3 class="text-transform-none ls-0">Social Media Marketing</h3>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
														</div>
													</div>
												</a>
												<a href="demo-seo-adwords.html" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
													<div class="feature-box">
														<div class="fbox-icon mb-2">
															<img src="/assets/images/icons/adword.svg" alt="Feature Icon" class="bg-transparent rounded-0">
														</div>
														<div class="fbox-content">
															<h3 class="text-transform-none ls-0">Adwords Campaign</h3>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
														</div>
													</div>
												</a>
												<a href="demo-seo-experience.html" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
													<div class="feature-box">
														<div class="fbox-icon mb-2">
															<img src="/assets/images/icons/experience.svg" alt="Feature Icon" class="bg-transparent rounded-0">
														</div>
														<div class="fbox-content">
															<h3 class="text-transform-none ls-0">Customer Experience</h3>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
														</div>
													</div>
												</a>
												<a href="demo-seo-analysis.html" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
													<div class="feature-box">
														<div class="fbox-icon mb-2">
															<img src="/assets/images/icons/analysis.svg" alt="Feature Icon" class="bg-transparent rounded-0">
														</div>
														<div class="fbox-content">
															<h3 class="text-transform-none ls-0">Digital Analysis</h3>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
														</div>
													</div>
												</a>
												<a href="demo-seo-content-marketing.html" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
													<div class="feature-box">
														<div class="fbox-icon mb-2">
															<img src="/assets/images/icons/content_marketing.svg" alt="Feature Icon" class="bg-transparent rounded-0">
														</div>
														<div class="fbox-content">
															<h3 class="text-transform-none ls-0">Content Marketing</h3>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
														</div>
													</div>
												</a>
												<div class="mega-menu-column sub-menu-container col-12 p-0">
													<a href="#" class="button button-rounded button-large text-transform-none ls-0 w-100 text-center m-0 rounded-0 py-3 button-light ">View All <i class="bi-arrow-right"></i></a>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="menu-item"><a class="menu-link" href="#"><div>FAQs</div></a></li>
								<li class="menu-item"><a class="menu-link" href="#"><div>Contact</div></a></li>
							</ul>

						</nav><!-- #primary-menu end -->

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->

		<slot />

		<!-- Footer
		============================================= -->
		<footer id="footer" class="border-0" style="background: var(--cnvs-contrast-0);">
			<div class="container">
				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap pb-5">

					<div class="row col-mb-50">
						<div class="col-md-8">

							<div class="widget">

								<img src="images/footer-widget-logo.png" alt="Footer Logo" class="alignleft" style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #DDD;">

								<p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards with a Retina &amp; Responsive Approach. Browse the amazing Features this template offers.</p>

								<div class="line line-sm"></div>

								<div class="row g-4">
									<div class="col-lg-3 col-6 widget_links">
										<ul>
											<li><a href="#">Home</a></li>
											<li><a href="#">About</a></li>
											<li><a href="#">FAQs</a></li>
											<li><a href="#">Support</a></li>
											<li><a href="#">Contact</a></li>
										</ul>
									</div>

									<div class="col-lg-3 col-6 widget_links">
										<ul>
											<li><a href="#">Shop</a></li>
											<li><a href="#">Portfolio</a></li>
											<li><a href="#">Blog</a></li>
											<li><a href="#">Events</a></li>
											<li><a href="#">Forums</a></li>
										</ul>
									</div>

									<div class="col-lg-3 col-6 widget_links">
										<ul>
											<li><a href="#">Corporate</a></li>
											<li><a href="#">Agency</a></li>
											<li><a href="#">eCommerce</a></li>
											<li><a href="#">Personal</a></li>
											<li><a href="#">One Page</a></li>
										</ul>
									</div>

									<div class="col-lg-3 col-6 widget_links">
										<ul>
											<li><a href="#">Restaurant</a></li>
											<li><a href="#">Wedding</a></li>
											<li><a href="#">App Showcase</a></li>
											<li><a href="#">Magazine</a></li>
											<li><a href="#">Landing Page</a></li>
										</ul>
									</div>
								</div>

							</div>

						</div>

						<div class="col-md-4">
							<div class="widget">

								<div class="row">
									<div class="col-12">
										<div class="feature-box fbox-plain fbox-sm align-items-center">
											<div class="fbox-icon">
												<i class="bi-envelope text-dark"></i>
											</div>
											<div class="fbox-content">
												<span class="text-muted">Call Us:</span><br>
												<h3 class="text-transform-none ls-0 fw-semibold">(10) 22 33445566</h3>
											</div>
										</div>
									</div>

									<div class="col-12 mt-4">
										<div class="feature-box fbox-plain fbox-sm align-items-center">
											<div class="fbox-icon">
												<i class="bi-telephone text-dark"></i>
											</div>
											<div class="fbox-content">
												<span class="text-muted">Email Us:</span><br>
												<h3 class="text-transform-none ls-0 fw-semibold">info@canvas.com</h3>
											</div>
										</div>
									</div>
								</div>

							</div>

							<div class="widget subscribe-widget">
								<h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
								<div class="widget-subscribe-form-result"></div>
								<form id="widget-subscribe-form" action="include/subscribe.php" method="post" class="mb-0">
									<div class="input-group mx-auto">
										<div class="input-group-text bg-transparent"><i class="bi-send"></i></div>
										<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
										<button class="btn btn-success button button-color text-transform-none ls-0 m-0" type="submit">Subscribe</button>
									</div>
								</form>
							</div>

							<div class="widget">

								<div class="row col-mb-30">
									<div class="col-lg-6 col-md-12 col-6">
										<div class="d-flex align-items-center">
											<a href="https://facebook.com/semicolonweb" target="_blank" class="social-icon bg-dark h-bg-facebook mb-0 me-2">
												<i class="fa-brands fa-facebook-f"></i>
												<i class="fa-brands fa-facebook-f"></i>
											</a>
											<a href="https://facebook.com/semicolonweb" target="_blank" class="text-dark"><small><strong class="d-block">Like us</strong>on Facebook</small></a>
										</div>
									</div>
									<div class="col-lg-6 col-md-12 col-6">
										<div class="d-flex align-items-center">
											<a href="https://themeforest.net/user/SemiColonWeb/follow" target="_blank" class="social-icon bg-dark h-bg-rss mb-0 me-2">
												<i class="fa-solid fa-rss"></i>
												<i class="fa-solid fa-rss"></i>
											</a>
											<a href="https://themeforest.net/user/SemiColonWeb/follow" target="_blank" class="text-dark"><small><strong class="d-block">Subscribe</strong>to RSS Feeds</small></a>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div><!-- .footer-widgets-wrap end -->
			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights" style="background: url('/assets/images/hero/footer.svg') no-repeat top center; background-size: cover; padding-top: 70px;">
				<div class="container">

					<div class="row justify-content-between col-mb-30">
						<div class="col-12 col-lg-auto text-center text-lg-start">
							Copyrights &copy; 2023 All Rights Reserved by Canvas Inc.<br>
							<div class="copyright-links"><a href="#" class="text-contrast-600">Terms of Use</a> / <a href="#" class="text-contrast-600">Privacy Policy</a></div>
						</div>

						<div class="col-12 col-lg-auto text-center text-lg-end">
							<div class="copyrights-menu copyright-links">
								<a href="#" class="text-contrast-600">Home</a>/<a href="#" class="text-contrast-600">About Us</a>/<a href="#" class="text-contrast-600">Team</a>/<a href="#" class="text-contrast-600">Clients</a>/<a href="#" class="text-contrast-600">FAQs</a>/<a href="#" class="text-contrast-600">Contact</a>
							</div>
						</div>
					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="uil uil-angle-up"></div>

	<div class="scw-switcher-wrap text-center d-none d-lg-block">
        <a href="tel:+33660921008" class="scw-trigger-icon scw-trigger">
            <i class="bi-whatsapp align-baseline pt-1"></i>
        </a>
    </div>

	<!-- JavaScripts
	============================================= -->
	<script is:inline src="/assets/js/plugins.min.js"></script>
	<script is:inline src="/assets/js/functions.bundle.js"></script>

</body>
</html>