---
// src/pages/zones/index.astro
import BaseLayout from "../../layouts/BaseLayout.astro";
import PageTitle from "../../components/PageTitle.astro";
import HeroCard from "../../components/HeroCard.astro";
import Process from "../../components/Process.astro";
import Zones from "../../components/Zones.astro";
import ServicesZones from "../../components/ServicesZones.astro";
import Preuves from "../../components/Preuves.astro";
import Faqs from "../../components/Faqs.astro";
import MaillageInterne from "../../components/MaillageInterne.astro";

import siteData from "../../data/site.json";
import seoData from "../../data/seo.json";
import hero_cardData from "../../data/hero_card.json";
import processData from "../../data/process.json";
import zonesData from "../../data/zones.json";
import servicesData from "../../data/services.json";
import villesData from "../../data/villes.json";
import preuvesData from "../../data/preuves.json";
import faqs_zonesData from "../../data/faqs_zones.json";
import maillage_interneData from "../../data/maillage_interne.json";
---

<BaseLayout>
  <PageTitle />

  <!-- Content ============================================= -->
  <section id="content">
    <div class="content-wrap py-0 overflow-visible">

      <HeroCard />

      <Process />

      <Zones />

      <ServicesZones />

      <Preuves />

      <Faqs />

      <MaillageInterne />

    </div>
  </section>
</BaseLayout>