---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>

  <section id="slider" class="slider-element slider-parallax swiper_wrapper min-vh-60 min-vh-md-100">
  	<div class="slider-inner">

  		<div class="swiper swiper-parent">
  			<div class="swiper-wrapper">

  				<!-- First Slide -->
  				<div class="swiper-slide dark">
  					<!-- Slider Content -->
  					<div class="swiper-slide-bg" style="background-image: url('your-bg-image.jpg');"></div>
  				</div>
  			</div>
  		</div>

  	</div>
  </section>

  <!-- Site Content
  ============================================= -->
  <section id="content">
    <div class="content-wrap">

      ...

	</div><!-- #wrapper end -->
  </section>

</BaseLayout>