<!DOCTYPE html>
<html dir="ltr" lang="fr-FR">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="author" content="Horizon Conversion">
	<meta name="description" content="">

	<!-- Font Imports -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">

	<!-- Core Style -->
	<link rel="stylesheet" href="style.css">

	<!-- Font Icons -->
	<link rel="stylesheet" href="css/font-icons.css">

	<!-- Plugins/Components CSS -->
	<link rel="stylesheet" href="css/components/bs-switches.css">

	<!-- Niche Demos -->
	<link rel="stylesheet" href="hc.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/custom.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Document Title
	============================================= -->
	<title>Contact - Demo | Horizon Conversion</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar" class="transparent-topbar dark">
			<div class="container">

				<div class="row justify-content-between">
					<div class="col-12 col-md-auto">

						<!-- Top Links
						============================================= -->
						<div class="top-links">
							<ul class="top-links-container">
								<li class="top-links-item"><a href="#">Home</a></li>
								<li class="top-links-item"><a href="#">FAQs</a></li>
								<li class="top-links-item"><a href="#">Contact</a></li>
							</ul>
						</div><!-- .top-links end -->

					</div>

					<div class="col-12 col-md-auto dark">

						<!-- Top Social
						============================================= -->
						<ul id="top-social">
							<li><a href="https://facebook.com/Horizon Conversion" class="h-bg-facebook" target="_blank"><span class="ts-icon"><i class="fa-brands fa-facebook-f"></i></span><span class="ts-text">Facebook</span></a></li>
							<li><a href="https://twitter.com/__semicolon" class="h-bg-x-twitter" target="_blank"><span class="ts-icon"><i class="fa-brands fa-x-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
							<li><a href="https://youtube.com/Horizon Conversion" class="h-bg-youtube" target="_blank"><span class="ts-icon"><i class="fa-brands fa-youtube"></i></span><span class="ts-text">Youtube</span></a></li>
							<li><a href="https://instagram.com/Horizon Conversion" class="h-bg-instagram" target="_blank"><span class="ts-icon"><i class="fa-brands fa-instagram"></i></span><span class="ts-text">Instagram</span></a></li>
							<li><a href="tel:+10.11.85412542" class="h-bg-call"><span class="ts-icon"><i class="fa-solid fa-phone"></i></span><span class="ts-text">+10.11.85412542</span></a></li>
							<li><a href="mailto:info@canvas.com" class="h-bg-email3"><span class="ts-icon"><i class="bi-envelope-fill"></i></span><span class="ts-text">info@canvas.com</span></a></li>
						</ul><!-- #top-social end -->

					</div>
				</div>

			</div>
		</div><!-- #top-bar end -->

		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header floating-header header-size-md">
			<div id="header-wrap">
				<div class="container">
					<div class="header-row">

						<!-- Logo
						============================================= -->
						<div id="logo">
							<a href="index.html">
								<img class="logo-default" src="images/logo.svg" alt="Canvas Logo">
							</a>
						</div><!-- #logo end -->

						<div class="header-misc">

							<a href="#" class="button button-rounded ms-3 d-none d-sm-block">Get Started</a>

						</div>

						<div class="primary-menu-trigger">
							<button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
								<span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
							</button>
						</div>

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu with-arrows">

							<ul class="menu-container">
								<li class="menu-item"><a class="menu-link" href="#"><div>Home</div></a></li>
								<li class="menu-item"><a class="menu-link" href="#"><div>What We Do</div></a></li>
								<li class="menu-item mega-menu"><div class="menu-link"><div>Services</div></div>
									<div class="mega-menu-content mega-menu-style-2 px-0">
										<div class="container">
											<div class="row">
												<a href="#" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
													<div class="feature-box">
														<div class="fbox-icon mb-2">
															<img src="images/icons/seo.svg" alt="" class="bg-transparent rounded-0">
														</div>
														<div class="fbox-content">
															<h3 class="text-transform-none ls-0">Service 1</h3>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
														</div>
													</div>
												</a>
												<a href="#" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
													<div class="feature-box">
														<div class="fbox-icon mb-2">
															<img src="images/icons/social.svg" alt="" class="bg-transparent rounded-0">
														</div>
														<div class="fbox-content">
															<h3 class="text-transform-none ls-0">Service 2</h3>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
														</div>
													</div>
												</a>
												<a href="#" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
													<div class="feature-box">
														<div class="fbox-icon mb-2">
															<img src="images/icons/adword.svg" alt="" class="bg-transparent rounded-0">
														</div>
														<div class="fbox-content">
															<h3 class="text-transform-none ls-0">Service 3</h3>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
														</div>
													</div>
												</a>
												<a href="#" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
													<div class="feature-box">
														<div class="fbox-icon mb-2">
															<img src="images/icons/experience.svg" alt="" class="bg-transparent rounded-0">
														</div>
														<div class="fbox-content">
															<h3 class="text-transform-none ls-0">Service 4</h3>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
														</div>
													</div>
												</a>
												<a href="#" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
													<div class="feature-box">
														<div class="fbox-icon mb-2">
															<img src="images/icons/analysis.svg" alt="" class="bg-transparent rounded-0">
														</div>
														<div class="fbox-content">
															<h3 class="text-transform-none ls-0">Service 5</h3>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
														</div>
													</div>
												</a>
												<a href="#" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
													<div class="feature-box">
														<div class="fbox-icon mb-2">
															<img src="images/icons/content_marketing.svg" alt="" class="bg-transparent rounded-0">
														</div>
														<div class="fbox-content">
															<h3 class="text-transform-none ls-0">Service 6</h3>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
														</div>
													</div>
												</a>
												<div class="mega-menu-column sub-menu-container col-12 p-0">
													<a href="#" class="button button-rounded button-large text-transform-none ls-0 w-100 text-center m-0 rounded-0 py-3 button-light ">View All <i class="bi-arrow-right"></i></a>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="menu-item"><a class="menu-link" href="#"><div>FAQs</div></a></li>
								<li class="menu-item current"><a class="menu-link" href="#"><div>Contact</div></a></li>
							</ul>

						</nav><!-- #primary-menu end -->

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->

		<!-- Page Title
		============================================= -->
		<section class="page-title page-title-parallax parallax scroll-detect page-title-center dark include-header include-topbar">
			<img src="images/services/contact-title.jpg" class="parallax-bg">
			<div id="particles-line"></div>

			<div class="container">
				<div class="page-title-row">

					<div class="page-title-content">
						<div class="badge rounded-pill border border-light text-light">Get In Touch</div>
						<h1>Contact Us</h1>
					</div>

					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Contact</li>
						</ol>
					</nav>

				</div>
			</div>
			<div class="video-overlay z-1" style="background-image: linear-gradient(to top, rgba(254,150,3,0.5), #39384D);"></div>
		</section><!-- .page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap pb-0">

				<div class="container mb-3">
					<div class="row justify-content-between">
						<div class="col-lg-3 col-md-6">
							<div class="feature-box flex-column text-center">
								<div class="fbox-image text-center mb-3">
									<img height="120" src="images/icons/seo.svg" alt="">
								</div>
								<div class="fbox-content">
									<h2 class="h3 text-transform-none ls-0 mb-4">Location:</h2>
									<p class="text-smaller mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
									<address>
										<a href="https://maps.google.com">
										<u>795 Folsom Ave, Suite 600<br>
										San Francisco, CA 94107</u>
										</a>
									</address>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6">
							<div class="feature-box flex-column text-center">
								<div class="fbox-image text-center mb-3">
									<img height="120" src="images/icons/social.svg" alt="">
								</div>
								<div class="fbox-content">
									<h2 class="h3 text-transform-none ls-0 mb-4">Contact Us:</h2>
									<p class="text-smaller mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
									<a class="btn btn-link" href="mailto:info@canvas.com"><u>noreply@canvas.com</u></a>
									<a class="btn btn-link" href="tel:10-22-33445566"><u>(10) 22 33445566</u></a>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6">
							<div class="feature-box flex-column text-center">
								<div class="fbox-image text-center mb-3">
									<img height="120" src="images/icons/group.svg" alt="">
								</div>
								<div class="fbox-content">
									<h2 class="h3 text-transform-none ls-0 mb-4">Live Chat:</h2>
									<p class="text-smaller mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
									<a href="#"><u>Click Here</u></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="clear"></div>

				<!-- Google Map
				============================================= -->
				<section class="gmap vh-60 mt-6" data-address="Melbourne, Australia" data-markers='[{address: "Melbourne, Australia", html: jQuery("#map-marker-1").html(), icon:{ image: "images/icons/map-icon-red.png", iconsize: [32, 39], iconanchor: [32,39] } }]'></section>
				<div id="map-marker-1" class="d-none"><div style="width: 300px;"><h4 class="mb-2">Hi! We are <span>Envato!</span></h4><p class="mb-0" style="font-size:1rem;">Our mission is to help people to <strong>earn</strong> and to <strong>learn</strong> online. We operate <strong>marketplaces</strong> where hundreds of thousands of people buy and sell digital goods every day.</p></div></div>

				<!-- Form Section
				============================================= -->
				<div class="section mt-0 mb-3" style="background: url('images/sections/1.jpg') no-repeat center center; background-size: cover; padding: 100px 0;">
					<div class="container">
						<div class="row justify-content-between align-items-center">

							<div class="col-md-4">
								<div class="heading-block border-bottom-0 mb-4">
									<div class="badge rounded-pill badge-default">Careers</div>
									<h2 class="text-transform-none ls-0">Get your free Quote today</h2>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolore voluptatem assumenda quae possimus sunt dignissimos tempora officia.</p>
							</div>

							<div class="col-lg-3 col-md-4">
								<div class="card shadow-sm">
									<div class="card-body">
										<h3 class="h4 mb-3">Apply Now</h3>
										<div class="form-widget">
											<div class="form-result"></div>
											<form class="row mb-0" id="template-contactform" name="template-contactform" action="include/form.php" method="post">
												<div class="col-12 form-group mb-3">
													<label for="template-contactform-name">Name:*</label>
													<input type="text" id="template-contactform-name" name="template-contactform-name" class="form-control input-sm required" value="">
												</div>
												<div class="col-12 form-group mb-3">
													<label for="template-contactform-email">Email Address:*</label>
													<input type="email" id="template-contactform-email" name="template-contactform-email" class="form-control input-sm required" value="">
												</div>
												<div class="col-12 form-group mb-4">
													<label for="template-contactform-website">Website:*</label>
													<input type="text" id="template-contactform-website" name="template-contactform-website" class="form-control input-sm required" value="">
												</div>
												<div class="col-12 form-group mb-0">
													<button class="button button-rounded w-100 text-transform-none ls-0 m-0" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Apply Now</button>
												</div>

												<input type="hidden" name="prefix" value="template-contactform-">
											</form>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="border-0 bg-white">
			<div class="container">
				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap pb-5">

					<div class="row col-mb-50">
						<div class="col-md-8">

							<div class="widget">

								<img src="images/footer-widget-logo.png" alt="Footer Logo" class="alignleft" style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #DDD;">

								<p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards with a Retina &amp; Responsive Approach. Browse the amazing Features this template offers.</p>

								<div class="line line-sm"></div>

								<div class="row g-4">
									<div class="col-lg-3 col-6 widget_links">
										<ul>
											<li><a href="#">Home</a></li>
											<li><a href="#">About</a></li>
											<li><a href="#">FAQs</a></li>
											<li><a href="#">Support</a></li>
											<li><a href="#">Contact</a></li>
										</ul>
									</div>

									<div class="col-lg-3 col-6 widget_links">
										<ul>
											<li><a href="#">Shop</a></li>
											<li><a href="#">Portfolio</a></li>
											<li><a href="#">Blog</a></li>
											<li><a href="#">Events</a></li>
											<li><a href="#">Forums</a></li>
										</ul>
									</div>

									<div class="col-lg-3 col-6 widget_links">
										<ul>
											<li><a href="#">Corporate</a></li>
											<li><a href="#">Agency</a></li>
											<li><a href="#">eCommerce</a></li>
											<li><a href="#">Personal</a></li>
											<li><a href="#">One Page</a></li>
										</ul>
									</div>

									<div class="col-lg-3 col-6 widget_links">
										<ul>
											<li><a href="#">Restaurant</a></li>
											<li><a href="#">Wedding</a></li>
											<li><a href="#">App Showcase</a></li>
											<li><a href="#">Magazine</a></li>
											<li><a href="#">Landing Page</a></li>
										</ul>
									</div>
								</div>

							</div>

						</div>

						<div class="col-md-4">
							<div class="widget">

								<div class="row">
									<div class="col-12">
										<div class="feature-box fbox-plain fbox-sm align-items-center">
											<div class="fbox-icon">
												<i class="bi-envelope text-dark"></i>
											</div>
											<div class="fbox-content">
												<span class="text-muted">Call Us:</span><br>
												<h3 class="text-transform-none ls-0 fw-semibold">(10) 22 33445566</h3>
											</div>
										</div>
									</div>

									<div class="col-12 mt-4">
										<div class="feature-box fbox-plain fbox-sm align-items-center">
											<div class="fbox-icon">
												<i class="bi-telephone text-dark"></i>
											</div>
											<div class="fbox-content">
												<span class="text-muted">Email Us:</span><br>
												<h3 class="text-transform-none ls-0 fw-semibold">info@canvas.com</h3>
											</div>
										</div>
									</div>
								</div>

							</div>

							<div class="widget subscribe-widget">
								<h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
								<div class="widget-subscribe-form-result"></div>
								<form id="widget-subscribe-form" action="include/subscribe.php" method="post" class="mb-0">
									<div class="input-group mx-auto">
										<div class="input-group-text bg-transparent"><i class="bi-send"></i></div>
										<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
										<button class="btn btn-success button button-color text-transform-none ls-0 m-0" type="submit">Subscribe</button>
									</div>
								</form>
							</div>

							<div class="widget">

								<div class="row col-mb-30">
									<div class="col-lg-6 col-md-12 col-6">
										<div class="d-flex align-items-center">
											<a href="https://facebook.com/Horizon Conversion" target="_blank" class="social-icon bg-dark h-bg-facebook mb-0 me-2">
												<i class="fa-brands fa-facebook-f"></i>
												<i class="fa-brands fa-facebook-f"></i>
											</a>
											<a href="https://facebook.com/Horizon Conversion" target="_blank" class="text-dark"><small><strong class="d-block">Like us</strong>on Facebook</small></a>
										</div>
									</div>
									<div class="col-lg-6 col-md-12 col-6">
										<div class="d-flex align-items-center">
											<a href="https://themeforest.net/user/Horizon Conversion/follow" target="_blank" class="social-icon bg-dark h-bg-rss mb-0 me-2">
												<i class="fa-solid fa-rss"></i>
												<i class="fa-solid fa-rss"></i>
											</a>
											<a href="https://themeforest.net/user/Horizon Conversion/follow" target="_blank" class="text-dark"><small><strong class="d-block">Subscribe</strong>to RSS Feeds</small></a>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div><!-- .footer-widgets-wrap end -->
			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights" style="background: url('images/hero/footer.svg') no-repeat top center; background-size: cover; padding-top: 70px;">
				<div class="container">

					<div class="row justify-content-between col-mb-30">
						<div class="col-12 col-lg-auto text-center text-lg-start">
							Copyrights &copy; 2023 All Rights Reserved by Canvas Inc.<br>
							<div class="copyright-links"><a href="#" class="text-contrast-600">Terms of Use</a> / <a href="#" class="text-contrast-600">Privacy Policy</a></div>
						</div>

						<div class="col-12 col-lg-auto text-center text-lg-end">
							<div class="copyrights-menu copyright-links">
								<a href="#" class="text-contrast-600">Home</a>/<a href="#" class="text-contrast-600">About Us</a>/<a href="#" class="text-contrast-600">Team</a>/<a href="#" class="text-contrast-600">Clients</a>/<a href="#" class="text-contrast-600">FAQs</a>/<a href="#" class="text-contrast-600">Contact</a>
							</div>
						</div>
					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="uil uil-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="js/plugins.min.js"></script>
	<script src="js/functions.bundle.js"></script>

	<!-- Main Particles Js
	============================================= -->
	<script src="js/particles/particles.min.js"></script>
	<script src="js/particles/particles-line.js"></script><!-- Particles Line -->

</body>
</html>