<!DOCTYPE html>
<html dir="ltr" lang="fr-FR">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="author" content="Horizon Conversion">
	<meta name="description" content="">

	<!-- Font Imports -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">

	<!-- Core Style -->
	<link rel="stylesheet" href="style.css">

	<!-- Font Icons -->
	<link rel="stylesheet" href="css/font-icons.css">

	<!-- Plugins/Components CSS -->
	<link rel="stylesheet" href="css/components/bs-switches.css">

	<!-- Niche Demos -->
	<link rel="stylesheet" href="hc.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/custom.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Document Title
	============================================= -->
	<title>Demo | Horizon Conversion</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar" class="transparent-topbar dark">
			<div class="container">

				<div class="row justify-content-between">
					<div class="col-12 col-md-auto">

						<!-- Top Links
						============================================= -->
						<div class="top-links">
							<ul class="top-links-container">
								<li class="top-links-item"><a href="#">Home</a></li>
								<li class="top-links-item"><a href="#">FAQs</a></li>
								<li class="top-links-item"><a href="#">Contact</a></li>
							</ul>
						</div><!-- .top-links end -->

					</div>

					<div class="col-12 col-md-auto dark">

						<!-- Top Social
						============================================= -->
						<ul id="top-social">
							<li><a href="https://facebook.com/Horizon Conversion" class="h-bg-facebook" target="_blank"><span class="ts-icon"><i class="fa-brands fa-facebook-f"></i></span><span class="ts-text">Facebook</span></a></li>
							<li><a href="https://twitter.com/__semicolon" class="h-bg-x-twitter" target="_blank"><span class="ts-icon"><i class="fa-brands fa-x-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
							<li><a href="https://youtube.com/Horizon Conversion" class="h-bg-youtube" target="_blank"><span class="ts-icon"><i class="fa-brands fa-youtube"></i></span><span class="ts-text">Youtube</span></a></li>
							<li><a href="https://instagram.com/Horizon Conversion" class="h-bg-instagram" target="_blank"><span class="ts-icon"><i class="fa-brands fa-instagram"></i></span><span class="ts-text">Instagram</span></a></li>
							<li><a href="tel:+10.11.85412542" class="h-bg-call"><span class="ts-icon"><i class="fa-solid fa-phone"></i></span><span class="ts-text">+10.11.85412542</span></a></li>
							<li><a href="mailto:info@canvas.com" class="h-bg-email3"><span class="ts-icon"><i class="bi-envelope-fill"></i></span><span class="ts-text">info@canvas.com</span></a></li>
						</ul><!-- #top-social end -->

					</div>
				</div>

			</div>
		</div><!-- #top-bar end -->

		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header floating-header header-size-md">
			<div id="header-wrap">
				<div class="container">
					<div class="header-row">

						<!-- Logo
						============================================= -->
						<div id="logo">
							<a href="index.html">
								<img class="logo-default" src="images/logo.svg" alt="Canvas Logo">
							</a>
						</div><!-- #logo end -->

						<div class="header-misc">

							<a href="#" class="button button-rounded ms-3 d-none d-sm-block">Get Started</a>

						</div>

						<div class="primary-menu-trigger">
							<button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
								<span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
							</button>
						</div>

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu with-arrows">

							<ul class="menu-container">
								<li class="menu-item"><a class="menu-link" href="#"><div>Home</div></a></li>
								<li class="menu-item"><a class="menu-link" href="#"><div>What We Do</div></a></li>
								<li class="menu-item mega-menu current"><div class="menu-link"><div>Services</div></div>
									<div class="mega-menu-content mega-menu-style-2 px-0">
										<div class="container">
											<div class="row">
												<a href="#" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
													<div class="feature-box">
														<div class="fbox-icon mb-2">
															<img src="images/icons/service1.svg" alt="" class="bg-transparent rounded-0">
														</div>
														<div class="fbox-content">
															<h3 class="text-transform-none ls-0">Service 1</h3>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
														</div>
													</div>
												</a>
												<a href="#" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
													<div class="feature-box">
														<div class="fbox-icon mb-2">
															<img src="images/icons/service2.svg" alt="" class="bg-transparent rounded-0">
														</div>
														<div class="fbox-content">
															<h3 class="text-transform-none ls-0">Service 2</h3>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
														</div>
													</div>
												</a>
												<a href="#" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
													<div class="feature-box">
														<div class="fbox-icon mb-2">
															<img src="images/icons/service3.svg" alt="" class="bg-transparent rounded-0">
														</div>
														<div class="fbox-content">
															<h3 class="text-transform-none ls-0">Service 3</h3>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
														</div>
													</div>
												</a>
												<a href="#" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
													<div class="feature-box">
														<div class="fbox-icon mb-2">
															<img src="images/icons/service4.svg" alt="" class="bg-transparent rounded-0">
														</div>
														<div class="fbox-content">
															<h3 class="text-transform-none ls-0">Service 4</h3>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
														</div>
													</div>
												</a>
												<a href="#" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
													<div class="feature-box">
														<div class="fbox-icon mb-2">
															<img src="images/icons/service5.svg" alt="" class="bg-transparent rounded-0">
														</div>
														<div class="fbox-content">
															<h3 class="text-transform-none ls-0">Service 5</h3>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
														</div>
													</div>
												</a>
												<a href="#" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
													<div class="feature-box">
														<div class="fbox-icon mb-2">
															<img src="images/icons/service6.svg" alt="" class="bg-transparent rounded-0">
														</div>
														<div class="fbox-content">
															<h3 class="text-transform-none ls-0">Service 6</h3>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
														</div>
													</div>
												</a>
												<div class="mega-menu-column sub-menu-container col-12 p-0">
													<a href="#" class="button button-rounded button-large text-transform-none ls-0 w-100 text-center m-0 rounded-0 py-3 button-light ">View All <i class="bi-arrow-right"></i></a>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="menu-item"><a class="menu-link" href="#"><div>FAQs</div></a></li>
								<li class="menu-item"><a class="menu-link" href="#"><div>Contact</div></a></li>
							</ul>

						</nav><!-- #primary-menu end -->

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->

		<!-- Page Title
		============================================= -->
		<section class="page-title page-title-parallax parallax scroll-detect page-title-center dark include-header include-topbar">
			<img src="images/services/page-title.jpg" class="parallax-bg">
			<div id="particles-line"></div>

			<div class="container">
				<div class="page-title-row">

					<div class="page-title-content">
						<div class="badge rounded-pill border border-light text-light">Services</div>
						<h1>Title H1</h1>
					</div>

					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item"><a href="#">Services</a></li>
							<li class="breadcrumb-item active" aria-current="page">Page</li>
						</ol>
					</nav>

				</div>
			</div>
			<div class="video-overlay z-1" style="background-image: linear-gradient(to top, rgba(254,150,3,0.5), #39384D);"></div>
		</section><!-- .page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap pb-0">

				<div class="container">
				
					<!-- Hero + preuves -->
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="badge rounded-pill badge-default">Services</div>
							<h2 class="display-4 fw-bold">Title H2</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia vitae mollitia dignissimos ab qui aspernatur.</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt laborum, molestiae eum odit illo pariatur. Sapiente deserunt optio dignissimos maiores pariatur, expedita voluptate quibusdam distinctio beatae.</p>
							<a href="#" class="button button-rounded button-large text-transform-none ls-0">Get Started</a>
							<a href="#" class="button button-rounded button-large button-light text-dark bg-white border text-transform-none ls-0">Contact Us</a>
						</div>
						<div class="col-lg-6 mt-4 mt-lg-0">
							<img src="images/services/1.svg" alt="Image">
						</div>
					</div>

					<div class="clear line my-6"></div>
					
					<!-- Services -->
					<div class="heading-block border-bottom-0 text-center">
						<div class="badge rounded-pill badge-default">Features</div>
						<h3 class="text-transform-none ls-0">What We Provide:</h3>
					</div>
					<div class="clear"></div>
					<div class="row mt-4 col-mb-50 mb-0">
						<div class="col-sm-6 col-lg-4">
							<div class="feature-box">
								<div class="fbox-icon mb-4">
									<a href="#"><i class="bi-check-lg bg-info border-0"></i></a>
								</div>
								<div class="fbox-content">
									<h3 class="text-transform-none">Originality &amp; Quality</h3>
									<p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-4">
							<div class="feature-box">
								<div class="fbox-icon mb-4">
									<a href="#"><i class="bi-book-reader bg-primary border-0"></i></a>
								</div>
								<div class="fbox-content">
									<h3 class="text-transform-none">Readability</h3>
									<p>Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all others graphics are optimized.</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-4">
							<div class="feature-box">
								<div class="fbox-icon mb-4">
									<a href="#"><i class="bi-fonts bg-danger border-0"></i></a>
								</div>
								<div class="fbox-content">
									<h3 class="text-transform-none">Keyword Density</h3>
									<p>Canvas includes tons of optimized code that are completely customizable and deliver unmatched fast performance.</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="clear"></div>

				<!-- Zones
				============================================= -->
				<div class="section mb-0">
					<div class="container">
						<div class="heading-block border-bottom-0 text-center">
							<div class="badge rounded-pill badge-default">Causes</div>
							<h3 class="text-transform-none ls-0">Other Causes</h3>
						</div>
						<div class="row col-mb-30 align-content-stretch">

							<div class="col-lg-4 col-md-6 d-flex">
								<div class="card">
									<div class="card-body p-5">
										<div class="feature-box flex-column">
											<div class="fbox-icon mb-3">
												<img src="images/icons/1.svg" alt="" class="bg-transparent rounded-0">
											</div>
											<div class="fbox-content">
												<h3 class="text-transform-none ls-0 text-larger">Service 1</h3>
												<p class="text-smaller">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolore, voluptates!</p>
											</div>
											<ul class="iconlist ms-3 mt-4 mb-0">
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> Unlimited Pages</li>
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> UI/UX Design</li>
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> Speed Optimized</li>
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> Graphics Banner</li>
												<li class="text-muted"><i class="fa-solid fa-check text-smaller color"></i> Advertisement</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-6 d-flex">
								<div class="card">
									<div class="card-body p-5">
										<div class="feature-box flex-column">
											<div class="fbox-icon mb-3">
												<img src="images/icons/2.svg" alt="" class="bg-transparent rounded-0">
											</div>
											<div class="fbox-content">
												<h3 class="text-transform-none ls-0 text-larger">Service 2</h3>
												<p class="text-smaller">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolore, voluptates!</p>
											</div>
											<ul class="iconlist ms-3 mt-4 mb-0">
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> Facebook Advertising</li>
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> Instagram Advertising</li>
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> Twitter Advertising</li>
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> Pinterest Advertising</li>
												<li class="text-muted"><i class="fa-solid fa-check text-smaller color"></i> Sales Banner</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-6 d-flex">
								<div class="card">
									<div class="card-body p-5">
										<div class="feature-box flex-column">
											<div class="fbox-icon mb-3">
												<img src="images/icons/3.svg" alt="" class="bg-transparent rounded-0">
											</div>
											<div class="fbox-content">
												<h3 class="text-transform-none ls-0 text-larger">Service 3</h3>
												<p class="text-smaller">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolore, voluptates!</p>
											</div>
											<ul class="iconlist ms-3 mt-4 mb-0">
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> Unlimited Pages</li>
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> UI/UX Design</li>
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> Speed Optimized</li>
												<li class="text-muted"><i class="fa-solid fa-check text-smaller color"></i> Advertisement</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-6 d-flex">
								<div class="card">
									<div class="card-body p-5">
										<div class="feature-box flex-column">
											<div class="fbox-icon mb-3">
												<img src="images/icons/4.svg" alt="" class="bg-transparent rounded-0">
											</div>
											<div class="fbox-content">
												<h3 class="text-transform-none ls-0 text-larger">Service 5</h3>
												<p class="text-smaller">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolore, voluptates!</p>
											</div>
											<ul class="iconlist ms-3 mt-4 mb-0">
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> Unlimited Pages</li>
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> UI/UX Design</li>
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> Speed Optimized</li>
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> Graphics Banner</li>
												<li class="text-muted"><i class="fa-solid fa-check text-smaller color"></i> Advertisement</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-6 d-flex">
								<div class="card">
									<div class="card-body p-5">
										<div class="feature-box flex-column">
											<div class="fbox-icon mb-3">
												<img src="images/icons/5.svg" alt="" class="bg-transparent rounded-0">
											</div>
											<div class="fbox-content">
												<h3 class="text-transform-none ls-0 text-larger">Service 4</h3>
												<p class="text-smaller">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolore, voluptates!</p>
											</div>
											<ul class="iconlist ms-3 mt-4 mb-0">
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> Unlimited Pages</li>
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> UI/UX Design</li>
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> Speed Optimized</li>
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> Graphics Banner</li>
												<li class="text-muted"><i class="fa-solid fa-check text-smaller color"></i> Advertisement</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-6 d-flex">
								<div class="card">
									<div class="card-body p-5">
										<div class="feature-box flex-column">
											<div class="fbox-icon mb-3">
												<img src="images/icons/6.svg" alt="" class="bg-transparent rounded-0">
											</div>
											<div class="fbox-content">
												<h3 class="text-transform-none ls-0 text-larger">Service 6</h3>
												<p class="text-smaller">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolore, voluptates!</p>
											</div>
											<ul class="iconlist ms-3 mt-4 mb-0">
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> Unlimited Pages</li>
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> UI/UX Design</li>
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> Speed Optimized</li>
												<li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> Graphics Banner</li>
												<li class="text-muted"><i class="fa-solid fa-check text-smaller color"></i> Advertisement</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- Process
				============================================= -->
				<div class="container py-5">
					<div class="row">
						<div class="col-md-4 mt-5">
							<div class="feature-box fbox-center border-0">
								<div class="fbox-icon">
									<a href="#"><img src="images/icons/research.svg" alt="" class="bg-transparent rounded-0"></a>
								</div>
								<div class="fbox-content">
									<h3 class="text-transform-none ls-0">1. Planning &amp; Research</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolore, voluptates!</p>
								</div>
							</div>
						</div>

						<div class="col-md-4 mt-5">
							<div class="feature-box fbox-center border-0">
								<div class="fbox-icon">
									<a href="#"><img src="images/icons/optimizing.svg" alt="" class="bg-transparent rounded-0"></a>
								</div>
								<div class="fbox-content">
									<h3 class="text-transform-none ls-0">2. Optimizing</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, provident.</p>
								</div>
							</div>
						</div>

						<div class="col-md-4 mt-5">
							<div class="feature-box fbox-center border-0">
								<div class="fbox-icon">
									<a href="#"><img src="images/icons/result.svg" alt="" class="bg-transparent rounded-0"></a>
								</div>
								<div class="fbox-content">
									<h3 class="text-transform-none ls-0">3. Result</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Réalisations
				============================================= -->
				<div class="section m-0" style="background: url('images/sections/5.jpg') no-repeat center center; background-size: cover;padding: 80px 0;">
					<div class="container">
						<div class="heading-block border-bottom-0 text-center">
							<div class="badge rounded-pill badge-default">Completed Projects</div>
							<h3 class="text-transform-none ls-0">Our Latest Works</h3>
						</div>

						<div id="portfolio" class="portfolio row gutter-20">

							<article class="portfolio-item col-12 col-sm-6 col-md-4 pf-media pf-icons">
								<div class="grid-inner">
									<div class="portfolio-image">
										<img src="images/works/1.jpg" alt="The Atmosphere">
										<div class="bg-overlay">
											<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="500">
												<a href="#" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeIn" data-hover-speed="500"><i class="uil uil-ellipsis-h"></i></a>
											</div>
											<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="500"></div>
										</div>
									</div>
									<div class="portfolio-desc">
										<h3><a href="#">The Atmosphere</a></h3>
										<span>Digital Marketing</span>
									</div>
								</div>
							</article>

							<article class="portfolio-item col-12 col-sm-6 col-md-4 pf-illustrations">
								<div class="grid-inner">
									<div class="portfolio-image">
										<img src="images/works/2.jpg" alt="Wavelength Structure">
										<div class="bg-overlay">
											<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="500">
												<a href="#" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeIn" data-hover-speed="500"><i class="uil uil-ellipsis-h"></i></a>
											</div>
											<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="500"></div>
										</div>
									</div>
									<div class="portfolio-desc">
										<h3>Wavelength Structure</h3>
										<span>SEO</span>
									</div>
								</div>
							</article>

							<article class="portfolio-item col-12 col-sm-6 col-md-4 pf-graphics pf-uielements">
								<div class="grid-inner">
									<div class="portfolio-image">
										<img src="images/works/3.jpg" alt="Greenhouse Garden">
										<div class="bg-overlay">
											<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="500">
												<a href="#" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeIn" data-hover-speed="500"><i class="uil uil-ellipsis-h"></i></a>
											</div>
											<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="500"></div>
										</div>
									</div>
									<div class="portfolio-desc">
										<h3>Simplicity Pages</h3>
										<span>Analytics</span>
									</div>
								</div>
							</article>

							<article class="portfolio-item col-12 col-sm-6 col-md-4 pf-icons pf-illustrations">
								<div class="grid-inner">
									<div class="portfolio-image">
										<img src="images/works/4.jpg" alt="Industrial Hub">
										<div class="bg-overlay">
											<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="500">
												<a href="#" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeIn" data-hover-speed="500"><i class="uil uil-ellipsis-h"></i></a>
											</div>
											<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="500"></div>
										</div>
									</div>
									<div class="portfolio-desc">
										<h3>SEO Analysis</h3>
										<span>SEO</span>
									</div>
								</div>
							</article>

							<article class="portfolio-item col-12 col-sm-6 col-md-4 pf-uielements pf-media">
								<div class="grid-inner">
									<div class="portfolio-image">
										<img src="images/works/5.jpg" alt="Corporate Headquarters">
										<div class="bg-overlay">
											<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="500">
												<a href="#" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeIn" data-hover-speed="500"><i class="uil uil-ellipsis-h"></i></a>
											</div>
											<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="500"></div>
										</div>
									</div>
									<div class="portfolio-desc">
										<h3>Marketing Strategy</h3>
										<span>Digital Marketing</span>
									</div>
								</div>
							</article>

							<article class="portfolio-item col-12 col-sm-6 col-md-4 pf-graphics pf-illustrations">
								<div class="grid-inner">
									<div class="portfolio-image">
										<img src="images/works/6.jpg" alt="Space Station">
										<div class="bg-overlay">
											<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="500">
												<a href="#" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeIn" data-hover-speed="500"><i class="uil uil-ellipsis-h"></i></a>
											</div>
											<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="500"></div>
										</div>
									</div>
									<div class="portfolio-desc">
										<h3>Space Station</h3>
										<span>Social Media</span>
									</div>
								</div>
							</article>

						</div>

						<div class="text-center">
							<a href="#" class="button button-large button-rounded text-capitalize ms-0 mt-5 ls-0">View All Works</a>
						</div>

					</div>
				</div>

				<!-- Avis clients
				============================================= -->
				<div class="section mt-0" style="background: url('images/sections/3.jpg') no-repeat top center; background-size: cover; padding: 80px 0 70px;">
					<div class="container">
						<div class="heading-block border-bottom-0 text-center">
							<div class="badge rounded-pill badge-default">Testimonials</div>
							<h2 class="text-transform-none ls-0">What Clients Says</h2>
						</div>

						<div id="oc-testi" class="owl-carousel testimonials-carousel carousel-widget" data-margin="0" data-pagi="true" data-loop="true" data-center="true" data-autoplay="5000" data-items-xs="1" data-items-sm="1" data-items-md="2" data-items-xl="3">

							<div class="oc-item">
								<div class="card rounded-6 shadow border-0">
									<img class="testimonial-image rounded-circle p-2 bg-white" src="demos/pet/images/testimonials/1.jpg" alt="Customer Testimonails">
									<div class="card-body p-4 pt-2 position-relative overflow-hidden">
										<div class="row">
											<div class="col-12 text-center">
												<p class="mb-4 font-primary fst-normal">Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum repellendus!</p>
												<h3 class="h6 mb-0 fw-bold">John Doe</h3>
												<small class="text-muted">XYZ Inc.</small>
											</div>
										</div>
										<div class="bg-icon bi-quote op-02"></div>
									</div>
								</div>
							</div>
							<div class="oc-item">
								<div class="card rounded-6 shadow border-0">
									<img class="testimonial-image rounded-circle p-2 bg-white" src="demos/pet/images/testimonials/2.jpg" alt="Customer Testimonails">
									<div class="card-body p-4 pt-2 position-relative overflow-hidden">
										<div class="row">
											<div class="col-12 text-center">
												<p class="mb-4 font-primary fst-normal">Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
												<h3 class="h6 mb-0 fw-bold">Collis Ta'eed</h3>
												<small class="text-muted">Envato Inc.</small>
											</div>
										</div>
										<div class="bg-icon bi-quote op-02"></div>
									</div>
								</div>
							</div>
							<div class="oc-item">
								<div class="card rounded-6 shadow border-0">
									<img class="testimonial-image rounded-circle p-2 bg-white" src="demos/pet/images/testimonials/3.jpg" alt="Customer Testimonails">
									<div class="card-body p-4 pt-2 position-relative overflow-hidden">
										<div class="row">
											<div class="col-12 text-center">
												<p class="mb-4 font-primary fst-normal">Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
												<h3 class="h6 mb-0 fw-bold">Cyan Ta'eed</h3>
												<small class="text-muted">Milkshake Inc.</small>
											</div>
										</div>
										<div class="bg-icon bi-quote op-02"></div>
									</div>
								</div>
							</div>
							<div class="oc-item">
								<div class="card rounded-6 shadow border-0">
									<img class="testimonial-image rounded-circle p-2 bg-white" src="demos/pet/images/testimonials/4.jpg" alt="Customer Testimonails">
									<div class="card-body p-4 pt-2 position-relative overflow-hidden">
										<div class="row">
											<div class="col-12 text-center">
												<p class="mb-4 font-primary fst-normal">Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
												<h3 class="h6 mb-0 fw-bold">Mary Jane</h3>
												<small class="text-muted">Google Inc.</small>
											</div>
										</div>
										<div class="bg-icon bi-quote op-02"></div>
									</div>
								</div>
							</div>
							<div class="oc-item">
								<div class="card rounded-6 shadow border-0">
									<img class="testimonial-image rounded-circle p-2 bg-white" src="images/testimonials/5.jpg" alt="Customer Testimonails">
									<div class="card-body p-4 pt-2 position-relative overflow-hidden">
										<div class="row">
											<div class="col-12 text-center">
												<p class="mb-4 font-primary fst-normal">Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
												<h3 class="h6 mb-0 fw-bold">Steve Jobs</h3>
												<small class="text-muted">Apple Inc.</small>
											</div>
										</div>
										<div class="bg-icon bi-quote op-02"></div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				
				<!-- FAQ
				============================================= -->
				<div class="container mb-5">
					<div class="row justify-content-center">
						<div class="col-xl-6 col-lg-8 text-center">
							<div class="heading-block border-bottom-0 text-center mx-auto">
								<div class="badge rounded-pill badge-default">How can we help you?</div>
								<h2 class="text-transform-none ls-0 mb-3">Frequently Asked Questions</h2>
								<p>Dynamically provide access to resource-leveling mindshare vis-a-vis bricks-and-clicks ideas authoritatively.</p>
							</div>
						</div>

						<div class="clear"></div>

						<!-- Faqs Content
						============================================= -->
						<div class="col-lg-10">

							<div id="faqs" class="faqs">

								<div class="toggle faq pb-3 mb-4 faq-marketplace faq-authors">
									<div class="toggle-header">
										<div class="toggle-icon color">
											<i class="toggle-closed bi-question-circle"></i>
											<i class="toggle-open bi-question-circle"></i>
										</div>
										<div class="toggle-title fw-semibold ps-1">
											How do I become an author?
										</div>
										<div class="toggle-icon color">
											<i class="toggle-closed fa-solid fa-chevron-down text-black-50"></i>
											<i class="toggle-open fa-solid fa-chevron-up color"></i>
										</div>
									</div>
									<div class="toggle-content text-black-50 ps-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
								</div>

								<div class="toggle faq pb-3 mb-4 faq-authors faq-miscellaneous">
									<div class="toggle-header">
										<div class="toggle-icon color">
											<i class="toggle-closed uil uil-comments-alt"></i>
											<i class="toggle-open uil uil-comments-alt"></i>
										</div>
										<div class="toggle-title fw-semibold ps-1">
											Helpful Resources for Authors
										</div>
										<div class="toggle-icon color">
											<i class="toggle-closed fa-solid fa-chevron-down text-black-50"></i>
											<i class="toggle-open fa-solid fa-chevron-up color"></i>
										</div>
									</div>
									<div class="toggle-content text-black-50 ps-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
								</div>

								<div class="toggle faq pb-3 mb-4 faq-miscellaneous">
									<div class="toggle-header">
										<div class="toggle-icon color">
											<i class="toggle-closed fa-solid fa-lock"></i>
											<i class="toggle-open fa-solid fa-lock"></i>
										</div>
										<div class="toggle-title fw-semibold ps-1">
											How much money can I make?
										</div>
										<div class="toggle-icon color">
											<i class="toggle-closed fa-solid fa-chevron-down text-black-50"></i>
											<i class="toggle-open fa-solid fa-chevron-up color"></i>
										</div>
									</div>
									<div class="toggle-content text-black-50 ps-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
								</div>

								<div class="toggle faq pb-3 mb-4 faq-authors faq-legal faq-itemdiscussion">
									<div class="toggle-header">
										<div class="toggle-icon color">
											<i class="toggle-closed bi-download"></i>
											<i class="toggle-open bi-download"></i>
										</div>
										<div class="toggle-title fw-semibold ps-1">
											Can I offer my items for free on a promotional basis?
										</div>
										<div class="toggle-icon color">
											<i class="toggle-closed fa-solid fa-chevron-down text-black-50"></i>
											<i class="toggle-open fa-solid fa-chevron-up color"></i>
										</div>
									</div>
									<div class="toggle-content text-black-50 ps-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
								</div>

								<div class="toggle faq pb-3 mb-4 faq-marketplace faq-authors">
									<div class="toggle-header">
										<div class="toggle-icon color">
											<i class="toggle-closed bi-check-lg"></i>
											<i class="toggle-open bi-check-lg"></i>
										</div>
										<div class="toggle-title fw-semibold ps-1">
											An Introduction to the Marketplaces for Authors
										</div>
										<div class="toggle-icon color">
											<i class="toggle-closed fa-solid fa-chevron-down text-black-50"></i>
											<i class="toggle-open fa-solid fa-chevron-up color"></i>
										</div>
									</div>
									<div class="toggle-content text-black-50 ps-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
								</div>

								<div class="toggle faq pb-3 mb-4 faq-affiliates faq-miscellaneous">
									<div class="toggle-header">
										<div class="toggle-icon color">
											<i class="toggle-closed bi-cash"></i>
											<i class="toggle-open bi-cash"></i>
										</div>
										<div class="toggle-title fw-semibold ps-1">
											How does the Tuts+ Premium affiliate program work?
										</div>
										<div class="toggle-icon color">
											<i class="toggle-closed fa-solid fa-chevron-down text-black-50"></i>
											<i class="toggle-open fa-solid fa-chevron-up color"></i>
										</div>
									</div>
									<div class="toggle-content text-black-50 ps-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
								</div>

								<div class="toggle faq pb-3 mb-4 faq-legal faq-itemdiscussion">
									<div class="toggle-header">
										<div class="toggle-icon color">
											<i class="toggle-closed bi-image"></i>
											<i class="toggle-open bi-image"></i>
										</div>
										<div class="toggle-title fw-semibold ps-1">
											What Images, Videos, Code or Music Can I Use in my Items?
										</div>
										<div class="toggle-icon color">
											<i class="toggle-closed fa-solid fa-chevron-down text-black-50"></i>
											<i class="toggle-open fa-solid fa-chevron-up color"></i>
										</div>
									</div>
									<div class="toggle-content text-black-50 ps-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
								</div>

								<div class="toggle faq pb-3 mb-4 faq-legal faq-authors faq-itemdiscussion">
									<div class="toggle-header">
										<div class="toggle-icon color">
											<i class="toggle-closed bi-file-earmark"></i>
											<i class="toggle-open bi-file-earmark"></i>
										</div>
										<div class="toggle-title fw-semibold ps-1">
											Can I use trademarked names in my items?
										</div>
										<div class="toggle-icon color">
											<i class="toggle-closed fa-solid fa-chevron-down text-black-50"></i>
											<i class="toggle-open fa-solid fa-chevron-up color"></i>
										</div>
									</div>
									<div class="toggle-content text-black-50 ps-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
								</div>

								<div class="toggle faq pb-3 mb-4 faq-affiliates">
									<div class="toggle-header">
										<div class="toggle-icon color">
											<i class="toggle-closed bi-bar-chart"></i>
											<i class="toggle-open bi-bar-chart"></i>
										</div>
										<div class="toggle-title fw-semibold ps-1">
											Tips for Increasing Your Referral Income
										</div>
										<div class="toggle-icon color">
											<i class="toggle-closed fa-solid fa-chevron-down text-black-50"></i>
											<i class="toggle-open fa-solid fa-chevron-up color"></i>
										</div>
									</div>
									<div class="toggle-content text-black-50 ps-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
								</div>

								<div class="toggle faq pb-3 mb-4 faq-authors faq-itemdiscussion">
									<div class="toggle-header">
										<div class="toggle-icon color">
											<i class="toggle-closed bi-telephone"></i>
											<i class="toggle-open bi-telephone"></i>
										</div>
										<div class="toggle-title fw-semibold ps-1">
											How can I get support for an item which isn't working correctly?
										</div>
										<div class="toggle-icon color">
											<i class="toggle-closed fa-solid fa-chevron-down text-black-50"></i>
											<i class="toggle-open fa-solid fa-chevron-up color"></i>
										</div>
									</div>
									<div class="toggle-content text-black-50 ps-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
								</div>

								<div class="toggle faq pb-3 mb-4 faq-marketplace faq-itemdiscussion">
									<div class="toggle-header">
										<div class="toggle-icon color">
											<i class="toggle-closed bi-credit-card"></i>
											<i class="toggle-open bi-credit-card"></i>
										</div>
										<div class="toggle-title fw-semibold ps-1">
											How do I pay for items on the Marketplaces?
										</div>
										<div class="toggle-icon color">
											<i class="toggle-closed fa-solid fa-chevron-down text-black-50"></i>
											<i class="toggle-open fa-solid fa-chevron-up color"></i>
										</div>
									</div>
									<div class="toggle-content text-black-50 ps-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
								</div>

							</div>

						</div>

					</div>
				</div>

				<div class="clear"></div>

				<!-- Form Section
				============================================= -->
				<div class="section mt-0" style="background: url('images/sections/1.jpg') no-repeat center center; background-size: cover; padding: 100px 0;">
					<div class="container">
						<div class="row justify-content-between align-items-center">

							<div class="col-md-4">
								<div class="heading-block border-bottom-0 mb-4">
									<div class="badge rounded-pill badge-default">Careers</div>
									<h2 class="text-transform-none ls-0">Get your free Quote today</h2>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolore voluptatem assumenda quae possimus sunt dignissimos tempora officia.</p>
							</div>

							<div class="col-lg-3 col-md-4">
								<div class="card shadow-sm">
									<div class="card-body">
										<h3 class="h4 mb-3">Apply Now</h3>
										<div class="form-widget">
											<div class="form-result"></div>
											<form class="row mb-0" id="template-contactform" name="template-contactform" action="include/form.php" method="post">
												<div class="col-12 form-group mb-3">
													<label for="template-contactform-name">Name:*</label>
													<input type="text" id="template-contactform-name" name="template-contactform-name" class="form-control input-sm required" value="">
												</div>
												<div class="col-12 form-group mb-3">
													<label for="template-contactform-email">Email Address:*</label>
													<input type="email" id="template-contactform-email" name="template-contactform-email" class="form-control input-sm required" value="">
												</div>
												<div class="col-12 form-group mb-4">
													<label for="template-contactform-website">Website:*</label>
													<input type="text" id="template-contactform-website" name="template-contactform-website" class="form-control input-sm required" value="">
												</div>
												<div class="col-12 form-group mb-0">
													<button class="button button-rounded w-100 text-transform-none ls-0 m-0" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Apply Now</button>
												</div>

												<input type="hidden" name="prefix" value="template-contactform-">
											</form>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="border-0 bg-white">
			<div class="container">
				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap pb-5">

					<div class="row col-mb-50">
						<div class="col-md-8">

							<div class="widget">

								<img src="images/footer-widget-logo.png" alt="Footer Logo" class="alignleft" style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #DDD;">

								<p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards with a Retina &amp; Responsive Approach. Browse the amazing Features this template offers.</p>

								<div class="line line-sm"></div>

								<div class="row g-4">
									<div class="col-lg-3 col-6 widget_links">
										<ul>
											<li><a href="#">Home</a></li>
											<li><a href="#">About</a></li>
											<li><a href="#">FAQs</a></li>
											<li><a href="#">Support</a></li>
											<li><a href="#">Contact</a></li>
										</ul>
									</div>

									<div class="col-lg-3 col-6 widget_links">
										<ul>
											<li><a href="#">Shop</a></li>
											<li><a href="#">Portfolio</a></li>
											<li><a href="#">Blog</a></li>
											<li><a href="#">Events</a></li>
											<li><a href="#">Forums</a></li>
										</ul>
									</div>

									<div class="col-lg-3 col-6 widget_links">
										<ul>
											<li><a href="#">Corporate</a></li>
											<li><a href="#">Agency</a></li>
											<li><a href="#">eCommerce</a></li>
											<li><a href="#">Personal</a></li>
											<li><a href="#">One Page</a></li>
										</ul>
									</div>

									<div class="col-lg-3 col-6 widget_links">
										<ul>
											<li><a href="#">Restaurant</a></li>
											<li><a href="#">Wedding</a></li>
											<li><a href="#">App Showcase</a></li>
											<li><a href="#">Magazine</a></li>
											<li><a href="#">Landing Page</a></li>
										</ul>
									</div>
								</div>

							</div>

						</div>

						<div class="col-md-4">
							<div class="widget">

								<div class="row">
									<div class="col-12">
										<div class="feature-box fbox-plain fbox-sm align-items-center">
											<div class="fbox-icon">
												<i class="bi-envelope text-dark"></i>
											</div>
											<div class="fbox-content">
												<span class="text-muted">Call Us:</span><br>
												<h3 class="text-transform-none ls-0 fw-semibold">(10) 22 33445566</h3>
											</div>
										</div>
									</div>

									<div class="col-12 mt-4">
										<div class="feature-box fbox-plain fbox-sm align-items-center">
											<div class="fbox-icon">
												<i class="bi-telephone text-dark"></i>
											</div>
											<div class="fbox-content">
												<span class="text-muted">Email Us:</span><br>
												<h3 class="text-transform-none ls-0 fw-semibold">info@canvas.com</h3>
											</div>
										</div>
									</div>
								</div>

							</div>

							<div class="widget subscribe-widget">
								<h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
								<div class="widget-subscribe-form-result"></div>
								<form id="widget-subscribe-form" action="include/subscribe.php" method="post" class="mb-0">
									<div class="input-group mx-auto">
										<div class="input-group-text bg-transparent"><i class="bi-send"></i></div>
										<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
										<button class="btn btn-success button button-color text-transform-none ls-0 m-0" type="submit">Subscribe</button>
									</div>
								</form>
							</div>

							<div class="widget">

								<div class="row col-mb-30">
									<div class="col-lg-6 col-md-12 col-6">
										<div class="d-flex align-items-center">
											<a href="https://facebook.com/Horizon Conversion" target="_blank" class="social-icon bg-dark h-bg-facebook mb-0 me-2">
												<i class="fa-brands fa-facebook-f"></i>
												<i class="fa-brands fa-facebook-f"></i>
											</a>
											<a href="https://facebook.com/Horizon Conversion" target="_blank" class="text-dark"><small><strong class="d-block">Like us</strong>on Facebook</small></a>
										</div>
									</div>
									<div class="col-lg-6 col-md-12 col-6">
										<div class="d-flex align-items-center">
											<a href="https://themeforest.net/user/Horizon Conversion/follow" target="_blank" class="social-icon bg-dark h-bg-rss mb-0 me-2">
												<i class="fa-solid fa-rss"></i>
												<i class="fa-solid fa-rss"></i>
											</a>
											<a href="https://themeforest.net/user/Horizon Conversion/follow" target="_blank" class="text-dark"><small><strong class="d-block">Subscribe</strong>to RSS Feeds</small></a>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div><!-- .footer-widgets-wrap end -->
			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights" style="background: url('images/hero/footer.svg') no-repeat top center; background-size: cover; padding-top: 70px;">
				<div class="container">

					<div class="row justify-content-between col-mb-30">
						<div class="col-12 col-lg-auto text-center text-lg-start">
							Copyrights &copy; 2023 All Rights Reserved by Canvas Inc.<br>
							<div class="copyright-links"><a href="#" class="text-contrast-600">Terms of Use</a> / <a href="#" class="text-contrast-600">Privacy Policy</a></div>
						</div>

						<div class="col-12 col-lg-auto text-center text-lg-end">
							<div class="copyrights-menu copyright-links">
								<a href="#" class="text-contrast-600">Home</a>/<a href="#" class="text-contrast-600">About Us</a>/<a href="#" class="text-contrast-600">Team</a>/<a href="#" class="text-contrast-600">Clients</a>/<a href="#" class="text-contrast-600">FAQs</a>/<a href="#" class="text-contrast-600">Contact</a>
							</div>
						</div>
					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="uil uil-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="js/plugins.min.js"></script>
	<script src="js/functions.bundle.js"></script>

	<!-- Main Particles Js
	============================================= -->
	<script src="js/particles/particles.min.js"></script>
	<script src="js/particles/particles-line.js"></script><!-- Particles Line -->

</body>
</html>