---
// src/pages/profils/index.astro
import BaseLayout from "../../layouts/BaseLayout.astro";
import PageTitle from "../../components/PageTitle.astro";
import HeroCard from "../../components/HeroCard.astro";
import Process from "../../components/Process.astro";
import Cibles from "../../components/Cibles.astro";
import ZonesVilles from "../../components/ZonesVilles.astro";
import Preuves from "../../components/Preuves.astro";
import Faqs from "../../components/Faqs.astro";
import MaillageInterne from "../../components/MaillageInterne.astro";

import siteData from "../../data/site.json";
import seoData from "../../data/seo.json";
import hero_cardData from "../../data/hero_card.json";
import processData from "../../data/process.json";
import ciblesData from "../../data/cibles.json";
import villesData from "../../data/villes.json";
import preuvesData from "../../data/preuves.json";
import faqs_ciblesData from "../../data/faqs_cibles.json";
import maillage_interneData from "../../data/maillage_interne.json";
---

<BaseLayout>
  <PageTitle />

  <!-- Content ============================================= -->
  <section id="content">
    <div class="content-wrap py-0 overflow-visible">

      <HeroCard />

      <Process />

      <Cibles />

      <ZonesVilles />

      <Preuves />

      <Faqs />

      <MaillageInterne />

    </div>
  </section>
</BaseLayout>