---
// src/components/Blog.astro
---
<div class="container mw-md mt-5 mt-lg-0">
  					<div class="row g-4 align-items-end blog-cards">
  						<div class="col-md-8">
  							<div class="p-3 pb-4">
  								<div class="before-title text-border-right position-relative text-uppercase ls-3 text-smaller overflow-hidden mb-4 op-04 b-w-50">Our Latest News</div>
  								<h2 class="h2 font-secondary fw-bold mb-4 lh-base">From our Law Community</h2>
  								<p class="mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe unde, atque autem deleniti rem vel fuga, sapiente nobis omnis veritatis esse vitae soluta vero debitis.</p>
  							</div>
  							<div class="row">
  								<div class="col-sm-6">
  									<div class="card h-translate-y-sm transform-ts">
  										<img src="/_assets_/images/blog/1.jpg" alt="" class="card-img-top">
  										<div class="card-body p-4">
  											<div class="h6 mb-3 text-warning">June 12, 2020</div>
  											<h3 class="h5 lh-base mb-3 color"><a href="#">Ways You Can Support Someone Recovering from a Serious Injury</a></h3>
  											<p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt exercitationem esse eaque velit.</p>
  											<a href="#">Read More <span class="material-symbols-outlined align-middle mb-1">trending_flat</span></a>
  										</div>
  									</div>
  								</div>
  								<div class="col-sm-6 mt-4 mt-sm-0">
  									<div class="card h-translate-y-sm transform-ts">
  										<img src="/_assets_/images/blog/2.jpg" alt="" class="card-img-top">
  										<div class="card-body p-4">
  											<div class="h6 mb-3 text-warning">June 14, 2020</div>
  											<h3 class="h5 lh-base mb-3 color"><a href="#">Could Unruly Airline Passengers Prompt Federal Prosecutions?</a></h3>
  											<p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt exercitationem esse eaque velit.</p>
  											<a href="#">Read More <span class="material-symbols-outlined align-middle mb-1">trending_flat</span></a>
  										</div>
  									</div>
  								</div>
  							</div>
  						</div>

  						<div class="col-md-4">
  							<div class="row">
  								<div class="col-md-12 col-sm-6">
  									<div class="card h-translate-y-sm transform-ts dark mb-4">
  										<img src="/_assets_/images/blog/3.jpg" alt="" class="card-img">
  										<a href="#" class="card-img-overlay d-flex flex-column justify-content-end p-4" style="background-image: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,.3));">
  											<div class="h6 mb-3 text-warning">Aug 07, 2020</div>
  											<h3 class="h5 lh-base mb-0">Will Psychedelic Drugs Become Legal?</h3>
  										</a>
  									</div>
  								</div>
  								<div class="col-md-12 col-sm-6">
  									<div class="card h-translate-y-sm transform-ts">
  										<div class="card-body p-4">
  											<div class="h6 mb-3 text-warning">Sep 30, 2020</div>
  											<h3 class="h5 lh-base mb-3 color"><a href="#">Some States and Cities Help Laid Off Workers Reclaim Former Jobs</a></h3>
  											<p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt exercitationem esse eaque velit.</p>
  											<a href="#">Read More <span class="material-symbols-outlined align-middle mb-1">trending_flat</span></a>
  										</div>
  									</div>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>