<header id="header" class="transparent-header dark">
  <div id="header-wrap">
    <div class="container">
      <div class="header-row align-items-lg-start justify-content-between py-lg-4">

        <div id="logo" class="col-xl-2 col-md-3 col-6 align-items-lg-start py-4">
          <a href="/">
            <img class="logo-default" src="/demos/law-firm/images/logo.svg" alt="Horizon Conversion" />
          </a>
        </div>

        <div class="col-auto d-none d-lg-flex py-2">
          <div class="row gx-5 large-device-menu-wrap">
            <div class="col-auto large-device-menu">
              <a class="text-white op-09 h-op-1" href="/offres"><div>Offres</div></a>
              <a class="text-white op-09 h-op-1" href="/#offre-essentiel"><div>Pack Essentiel</div></a>
              <a class="text-white op-09 h-op-1" href="/#faq"><div>FAQ</div></a>
            </div>
            <div class="col-auto">
              <a
                href="/#section-contact"
                data-scrollto="#section-contact"
                data-easing="easeInOutExpo"
                data-speed="1250"
                data-offset="88"
                class="btn px-3 py-2 btn-dark h-bg-light h-text-dark d-inline-block op-09 h-op-1"
                style="background-color: rgba(255,255,255,0.2)"
              >
                Demander un audit
              </a>
            </div>
          </div>
        </div>

        <div class="primary-menu-trigger">
          <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
            <span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
          </button>
        </div>

        <nav class="primary-menu d-block d-lg-none">
          <ul class="menu-container">
            <li class="menu-item"><a class="menu-link h-text-warning" href="/offres"><div>Offres</div></a></li>
            <li class="menu-item"><a class="menu-link h-text-warning" href="/#offre-essentiel"><div>Pack Essentiel</div></a></li>
            <li class="menu-item"><a class="menu-link h-text-warning" href="/#section-contact"><div>Audit</div></a></li>
          </ul>
        </nav>

      </div>
    </div>
  </div>
  <div class="header-wrap-clone"></div>
</header>