---
// src/components/Services.astro
---
<div class="container">

  					<div class="service-feature w-100 mb-4 mt-5 mt-lg-0">

  						<div class="row justify-content-center gx-3">

  							<div class="col-lg-3 mb-4 mb-lg-0">
  								<div class="grid-inner shadow-sm h-shadow bg-white p-5 overflow-hidden rounded-5 text-center shadow-ts">
  									<div class="f-b-desc">
  										<i class="material-symbols-outlined display-5 color mb-3">gavel</i>
  										<h2 class="h5 mb-0 fw-bold">Why choose Us</h2>
  									</div>
  									<a href="#" class="more-link fst-normal color">View Details</a>
  								</div>
  							</div>

  							<div class="col-lg-3 mb-4 mb-lg-0">
  								<div class="grid-inner shadow-sm h-shadow bg-white p-5 overflow-hidden rounded-5 text-center shadow-ts">
  									<div class="f-b-desc">
  										<i class="material-symbols-outlined display-5 color mb-3">outlined_flag</i>
  										<h2 class="h5 mb-0 fw-bold">Our Mission</h2>
  									</div>
  									<a href="#" class="more-link fst-normal color">Learn More</a>
  								</div>
  							</div>

  							<div class="col-lg-3">
  								<div class="grid-inner shadow-sm h-shadow bg-white p-5 overflow-hidden rounded-5 text-center shadow-ts">
  									<div class="f-b-desc">
  										<i class="material-symbols-outlined display-5 color mb-3">date_range</i>
  										<h2 class="h5 mb-0 fw-bold">Contact Us</h2>
  									</div>
  									<a href="#" class="more-link fst-normal color">Get in Touch</a>
  								</div>
  							</div>

  						</div>
  					</div>

  					<div class="clear"></div>

  					<div class="row align-items-center justify-content-center mt-6 mt-lg-0 mb-4">
  						<div class="col-lg-5 col-10 px-5">
  							<div class="lady-justice-img position-relative">
  								<img src="/_assets_/images/lady-justice.jpg" alt="Image" class="rounded">
  							</div>
  						</div>
  						<div class="col-lg-5 p-5">
  							<i class="material-symbols-outlined display-4 color mb-3">verified</i>
  							<h2 class="h1 fw-bold lh-sm">Our Purpose is Community Safety</h2>
  							<h3 class="h4 mt-4 fw-normal lh-base" style="line-height: 1.75 !important;">Rapidiously conceptualize inexpensive value through functionalized markets. Enthusiastically integrate distinctive web services vis-a-vis end-to-end ROI. Assertively fashion best-of-breed products for installed base alignments. Enthusiastically.</h3>

  							<h3 class="h4 mt-4 fw-normal lh-base" style="line-height: 1.75 !important;">Rapidiously conceptualize inexpensive value through functionalized markets.</h3>
  							<a href="#" class="btn py-3 px-4 mt-2 rounded-1 btn-dark bg-color h-op-09">Find out how we Help <i class="material-symbols-outlined align-middle mb-0 ms-1">arrow_right_alt</i></a>
  						</div>
  					</div>

  				</div>

  				<div class="clear"></div>