---
// src/components/Faqs.astro
---

<!-- Faqs ============================================= -->
<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 text-center">
      <div class="heading-block border-bottom-0 text-center mx-auto">
        <div class="badge rounded-pill badge-default">Faqs Badge</div>
        <h2 class="text-transform-none ls-0 mb-3">Faqs H2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolore, voluptates!</p>
      </div>
    </div>

    <div class="clear"></div>

    <!-- Faqs Content -->
    <div class="col-lg-10">

      <div id="faqs" class="faqs">

        <div class="toggle faq pb-3 mb-4">
          <div class="toggle-header">
            <div class="toggle-icon color">
              <i class="toggle-closed bi-question-circle"></i>
              <i class="toggle-open bi-question-circle"></i>
            </div>
            <div class="toggle-title fw-semibold ps-1">
              Question
            </div>
            <div class="toggle-icon color">
              <i class="toggle-closed fa-solid fa-chevron-down text-black-50"></i>
              <i class="toggle-open fa-solid fa-chevron-up color"></i>
            </div>
          </div>
          <div class="toggle-content text-black-50 ps-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
        </div>

      </div>

    </div>

  </div>
</div>

<div class="clear"></div>