---
// src/components/FinalCTA.astro

import ctas from "../data/ctas.json";
---

<div class="section mt-5 footer-stick promo-section bg-transparent" style="padding: 90px 0; overflow: visible">
  <div class="container">
    <div class="heading-block border-bottom-0 text-center">
      <div class="h5 text-uppercase ls-1 mb-1">On regarde ça ensemble</div>
      <h2 class="text-transform-none ls-0">15 minutes. 3 priorités. Un plan clair.</h2>

      <div class="d-flex justify-content-center flex-wrap gap-2 mt-4">
        <a href={ctas.primary.href} class="button button-large button-rounded text-transform-none ms-0 ls-0">
          {ctas.primary.label}
        </a>
        <a href={ctas.secondary.href} class="button button-large button-rounded button-light text-dark bg-white border text-transform-none ms-0 ls-0">
          {ctas.secondary.label}
        </a>
      </div>
    </div>
  </div>
</div>