<div class="card mx-auto mw-md border-0 shadow rounded-4 card-seo-about mb-5 mb-lg-0">
					<div class="card-body p-5">
						<div class="row align-items-center">
							<div class="col-md-6">
								<div class="heading-block border-bottom-0 mb-0">
									<div class="badge rounded-pill badge-default">Page Traffic</div>
									<h3 class="text-transform-none ls-0 mb-3">See how our Business Grows Month by Month</h3>
									<p>Dynamically provide access to resource-leveling mindshare vis-a-vis bricks-and-clicks ideas authoritatively.</p>
									<a href="#" class="button button-rounded text-capitalize m-0 ls-0">Get Started</a>
								</div>
							</div>
							<div class="col-md-6">
								<p class="text-end text-muted text-smaller">Overall Progress: <span class="text-success fw-bold text-larger">+75%</span></p>
								<canvas id="chart-0"></canvas>
							</div>
						</div>
					</div>
				</div>