---
// src/components/HeroPage.astro
---

<!-- Hero + Services ============================================= -->
<div class="container mb-5">

  <!-- Hero -->
  <div class="row align-items-center">
    <div class="col-lg-6">
      <div class="badge rounded-pill badge-default">Hero Badge</div>
      <h2 class="display-4 fw-bold">Hero H2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia vitae mollitia dignissimos ab qui aspernatur.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt laborum, molestiae eum dit illo pariatur. Sapiente deserunt optio dignissimos maiores pariatur, expedita voluptate quibusdam distinctio beatae.</p>
      <a href="#" class="button button-rounded button-large text-transform-none ls-0">Hero CTA 1</a>
      <a href="#" class="button button-rounded button-large button-light text-dark bg-white border text-transform-none ls-0">Hero CTA 2</a>
    </div>
    <div class="col-lg-6 mt-4 mt-lg-0">
      <div class="card mx-auto mw-md border-0 shadow rounded-4 mb-5 mb-lg-0">
        <div class="card-body p-5">
          <div class="feature-box flex-column">
            <div class="fbox-content">
              <h3 class="text-transform-none ls-0 text-larger">Problèmes H3</h3>
              <p class="text-smaller">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolore, voluptates!</p>
            </div>
            <ul class="iconlist ms-3 mt-4 mb-0">
              <li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> Lorem ipsum dolor sit amet</li>
              <li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> Lorem ipsum dolor sit amet</li>
              <li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> Lorem ipsum dolor sit amet</li>
              <li class="mb-2 text-muted"><i class="fa-solid fa-check text-smaller color"></i> Lorem ipsum dolor sit amet</li>
              <li class="text-muted"><i class="fa-solid fa-check text-smaller color"></i> Lorem ipsum dolor sit amet</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clear line my-6"></div>

  <!-- Services -->
  <div class="heading-block border-bottom-0 text-center">
    <div class="badge rounded-pill badge-default">Services Badge</div>
    <h2 class="text-transform-none ls-0">Services H2</h2>
  </div>
  <div class="clear"></div>
  <div class="row mt-4 col-mb-50 mb-0">
    <div class="col-sm-6 col-lg-4">
      <div class="feature-box">
        <div class="fbox-icon mb-4">
          <i class="bi-file-earmark-richtext text-white bg-google"></i>
        </div>
        <div class="fbox-content">
          <h3 class="text-transform-none">
            <a href="#">Service</a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolore, voluptates!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clear"></div>