---
// src/components/HeroCard.astro
---

<!-- Hero ============================================= -->
<div class="card mx-auto mw-md border-0 shadow rounded-4 card-seo-about mb-5 mb-lg-0">
  <div class="card-body p-5">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="heading-block border-bottom-0 mb-0">
          <div class="badge rounded-pill badge-default">Hero Badge</div>
          <h2 class="text-transform-none ls-0 mb-3">Hero H2</h2>
          <p>Hero description</p>
          <a href="#" class="button button-rounded text-capitalize m-0 ls-0">Hero CTA 1</a>
          <a href="#" class="button button-rounded button-light text-dark bg-white border text-transform-none ls-0">Hero CTA 2</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="feature-box flex-column">
          <div class="fbox-content">
            <h3 class="text-transform-none ls-0 text-larger">Hero H3</h3>
            <p class="text-smaller">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolore, voluptates!</p>
          </div>
          <ul class="iconlist ms-3 mt-4 mb-0">
            <li class="d-block mb-2 text-muted"><i class="fa-solid fa-check text-smaller color me-1"></i> Lorem ipsum dolor sit amet</li>
            <li class="d-block mb-2 text-muted"><i class="fa-solid fa-check text-smaller color me-1"></i> Lorem ipsum dolor sit amet</li>
            <li class="d-block mb-2 text-muted"><i class="fa-solid fa-check text-smaller color me-1"></i> Lorem ipsum dolor sit amet</li>
            <li class="d-block mb-2 text-muted"><i class="fa-solid fa-check text-smaller color me-1"></i> Lorem ipsum dolor sit amet</li>
            <li class="d-block text-muted"><i class="fa-solid fa-check text-smaller color me-1"></i> Lorem ipsum dolor sit amet</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>