---
// src/components/MaillageInterne.astro
---

<!-- Maillage interne ============================================= -->
<div class="section mt-5" style="padding: 100px 0; overflow: visible; background: url('/assets/images/sections/3.jpg') no-repeat top center; background-size: cover;">
  <div class="container">
    <div class="heading-block border-bottom-0 text-center">
      <div class="h6 text-uppercase ls-1 mb-1">Maillage interne</div>
      <h2 class="text-transform-none ls-0">Maillage interne <span>CTA</span></h2>
      <a href="#" class="button button-large button-rounded text-transform-none ms-0 ls-0 mt-4">services</a>
      <a href="#" class="button button-large button-rounded text-transform-none ms-0 ls-0 mt-4">zones</a>
      <a href="#" class="button button-large button-rounded text-transform-none ms-0 ls-0 mt-4">tarifs</a>
      <a href="#" class="button button-large button-rounded text-transform-none ms-0 ls-0 mt-4">profils</a>
      <a href="#" class="button button-large button-rounded text-transform-none ms-0 ls-0 mt-4">methode</a>
      <a href="#" class="button button-large button-rounded text-transform-none ms-0 ls-0 mt-4">contact</a>
    </div>
  </div>
</div>