---
// src/components/Methode.astro
---

<!-- Méthode ============================================= -->
<div class="container py-5 mb-5">
  <div class="row">
    <div class="col-md-4 mt-5">
      <div class="feature-box fbox-center border-0">
        <div class="fbox-icon">
          <a href="/methode/"><img src="/assets/images/icons/research.svg" alt="Méthode 1" class="bg-transparent rounded-0"></a>
        </div>
        <div class="fbox-content">
          <h2 class="h3 text-transform-none ls-0">1. Méthode</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolore, voluptates!</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-5">
      <div class="feature-box fbox-center border-0">
        <div class="fbox-icon">
          <a href="/methode/"><img src="/assets/images/icons/optimizing.svg" alt="Méthode 2" class="bg-transparent rounded-0"></a>
        </div>
        <div class="fbox-content">
          <h2 class="h3 text-transform-none ls-0">2. Méthode</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, provident.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-5">
      <div class="feature-box fbox-center border-0">
        <div class="fbox-icon">
          <a href="/methode/"><img src="/assets/images/icons/result.svg" alt="Méthode 3" class="bg-transparent rounded-0"></a>
        </div>
        <div class="fbox-content">
          <h2 class="h3 text-transform-none ls-0">3. Méthode</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
        </div>
      </div>
    </div>
  </div>
</div>