---
// src/components/PageTitle.astro
import Breadcrumb from "../components/Breadcrumb.astro";
---

<section class="page-title page-title-parallax parallax scroll-detect page-title-center dark include-header include-topbar" style="padding-bottom: 140px;">
  <img src="/assets/images/page-title.jpg" class="parallax-bg" alt="" />

  <div class="container position-relative">
    <div class="page-title-row">
      <div class="page-title-content">
        <div class="badge rounded-pill border border-light text-light">PageTitle Badge</div>
        <h1>PageTitle H1</h1>
        <span>Chapo</span>
      </div>

      <Breadcrumb />
    </div>
  </div>

  <div class="video-overlay z-1" style="background-image: linear-gradient(to top, rgba(254,150,3,0.5), #39384D);"></div>
</section>