<!-- Page Title
		============================================= -->
		<section class="page-title page-title-parallax parallax scroll-detect page-title-center dark include-header include-topbar">
			<img src="demos/seo/images/services/adwords-title.jpg" class="parallax-bg">
			<div id="particles-line"></div>

			<div class="container">
				<div class="page-title-row">

					<div class="page-title-content">
						<div class="badge rounded-pill border border-light text-light">Adwords</div>
						<h1>Adwords Campaign</h1>
						<span class="fw-light">Providing exceptional IT, outsourcing, and customer relations services since 2006. We have a team of skilled professionals who are dedicated to delivering cutting-edge solutions to our clients.</span>
						<div class="mt-4 pt-3">
						    <a href="#" class="button button-rounded button-large text-transform-none ls-0 ms-0 mb-0">Work with Us</a>
                        	<a href="#" class="button button-rounded button-large button-light text-dark bg-white text-transform-none ls-0 me-0 mb-0">Know More <i class="bi-arrow-up-right ms-1 me-0 small"></i></a>
                        </div>
					</div>

					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="demo-seo.html">Home</a></li>
							<li class="breadcrumb-item"><a href="demo-seo-about.html">Services</a></li>
							<li class="breadcrumb-item active" aria-current="page">Adwords Campaign</li>
						</ol>
					</nav>

				</div>
			</div>
			<div class="video-overlay z-1" style="background-image: linear-gradient(to top, rgba(254,150,3,0.5), #39384D);"></div>
		</section><!-- .page-title end -->