<div class="container">

<div class="heading-block border-bottom-0 text-center">
						<div class="badge rounded-pill badge-default">Features</div>
						<h3 class="text-transform-none ls-0">What We Provide:</h3>
					</div>
					<div class="clear"></div>
					<div class="row mt-4 col-mb-50 mb-0">
						<div class="col-sm-6 col-lg-4">
							<div class="feature-box">
								<div class="fbox-icon mb-4">
									<a href="#"><i class="fa-brands fa-google text-white bg-google"></i></a>
								</div>
								<div class="fbox-content">
									<h3 class="text-transform-none">Google Search</h3>
									<p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-4">
							<div class="feature-box">
								<div class="fbox-icon mb-4">
									<a href="#"><i class="uil uil-shopping-cart text-white bg-google"></i></a>
								</div>
								<div class="fbox-content">
									<h3 class="text-transform-none">Google Shopping</h3>
									<p>Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all others graphics are optimized.</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-4">
							<div class="feature-box">
								<div class="fbox-icon mb-4">
									<a href="#"><i class="fa-brands fa-app-store text-white bg-appstore"></i></a>
								</div>
								<div class="fbox-content">
									<h3 class="text-transform-none">App Campaign</h3>
									<p>Canvas includes tons of optimized code that are completely customizable and deliver unmatched fast performance.</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-4">
							<div class="feature-box">
								<div class="fbox-icon mb-4">
									<a href="#"><i class="bi-camera-video text-white bg-youtube"></i></a>
								</div>
								<div class="fbox-content">
									<h3 class="text-transform-none">Video Advertising</h3>
									<p>Canvas included 20+ custom designed Slider Pages with Premium Sliders like Layer, Revolution, Swiper &amp; others.</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-4">
							<div class="feature-box">
								<div class="fbox-icon mb-4">
									<a href="#"><i class="bi-phone text-white bg-instagram"></i></a>
								</div>
								<div class="fbox-content">
									<h3 class="text-transform-none">Mobile Advertising</h3>
									<p>Change the color scheme of the Theme in a flash just by changing the 6-digit HEX code in the colors.php file.</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-4">
							<div class="feature-box">
								<div class="fbox-icon mb-4">
									<a href="#"><i class="bi-bullseye text-white bg-android"></i></a>
								</div>
								<div class="fbox-content">
									<h3 class="text-transform-none">Display Advertising</h3>
									<p>Use any Font you like from Google Web Fonts, Typekit or other Web Fonts. They will blend in perfectly.</p>
								</div>
							</div>
						</div>
					</div>

</div>