---
// src/components/ServicesPage.astro
---

<!-- Services -->
<div class="heading-block border-bottom-0 text-center">
  <div class="badge rounded-pill badge-default">Services Badge</div>
  <h2 class="text-transform-none ls-0">Services H2</h2>
</div>
<div class="clear"></div>
<div class="row mt-4 col-mb-50 mb-0">
  <div class="col-sm-6 col-lg-4">
    <div class="feature-box">
      <div class="fbox-icon mb-4">
        <i class="bi-file-earmark-richtext text-white bg-google"></i>
      </div>
      <div class="fbox-content">
        <h3 class="text-transform-none">
          <a href="#">Service</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolore, voluptates!</p>
      </div>
    </div>
  </div>
</div>