---
// src/components/ServicesZones.astro
---

<!-- Services ============================================= -->
<div class="section mt-0">
  <div class="container">
    <div class="heading-block border-bottom-0 text-center">
      <div class="badge rounded-pill badge-default">Services Badge</div>
      <h2 class="text-transform-none ls-0">Services H2</h2>
      <span>Services</span>
    </div>
    <div class="row col-mb-30 align-content-stretch">

      <div class="col-md-4 d-flex">
        <div class="card">
          <div class="card-body p-5">
            <div class="feature-box flex-column">
              <div class="fbox-image mb-5 text-center">
                <img height="150" src="/assets/images/services/seo.svg" alt="Service">
              </div>
              <div class="fbox-content">
                <h3 class="text-transform-none ls-0 text-larger">Service</h3>
                <p class="text-smaller">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolore, voluptates!</p>
              </div>
              <ul class="iconlist ms-3 mt-4 mb-0">
                <li class="d-block mb-2 text-muted"><i class="fa-solid fa-check text-smaller color me-1"></i> list</li>
                <li class="d-block mb-2 text-muted"><i class="fa-solid fa-check text-smaller color me-1"></i> list</li>
                <li class="d-block mb-2 text-muted"><i class="fa-solid fa-check text-smaller color me-1"></i> list</li>
                <li class="d-block mb-2 text-muted"><i class="fa-solid fa-check text-smaller color me-1"></i> list</li>
                <li class="d-block text-muted"><i class="fa-solid fa-check text-smaller color me-1"></i> list</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>