---
// src/components/Services.astro
---

<!-- Services ============================================= -->
<div class="section bg-transparent">
  <div class="container">
    <div class="row col-mb-30 align-content-stretch">

      <div class="col-lg-4 col-md-6 d-flex">
        <a href="#" class="card h-shadow h-translate-y-sm all-ts">
          <div class="card-body p-5">
            <div class="feature-box flex-column">
              <div class="fbox-image mb-5 text-center">
                <img height="150" src="/assets/images/services/seo.svg" alt="Service">
              </div>
              <div class="fbox-content">
                <h2 class="text-transform-none ls-0 text-larger mb-0">Service</h2>
                <p class="text-smaller">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolore, voluptates!</p>
              </div>
              <ul class="iconlist ms-3 mt-4 mb-0">
                <li class="d-block mb-2 text-muted"><i class="fa-solid fa-check text-smaller color me-1"></i> Lorem ipsum dolor sit amet</li>
                <li class="d-block mb-2 text-muted"><i class="fa-solid fa-check text-smaller color me-1"></i> Lorem ipsum dolor sit amet</li>
                <li class="d-block mb-2 text-muted"><i class="fa-solid fa-check text-smaller color me-1"></i> Lorem ipsum dolor sit amet</li>
                <li class="d-block mb-2 text-muted"><i class="fa-solid fa-check text-smaller color me-1"></i> Lorem ipsum dolor sit amet</li>
                <li class="d-block text-muted"><i class="fa-solid fa-check text-smaller color me-1"></i> Lorem ipsum dolor sit amet</li>
              </ul>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>