---
// src/components/Tarifs.astro
---

<!-- Tarifs ============================================= -->
<div class="section m-0" style="background: url('/assets/images/sections/4.png') no-repeat center top; background-size: cover; padding: 140px 0 0;">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-4 mt-4">
        <div class="heading-block border-bottom-0 mb-4">
          <div class="badge rounded-pill badge-default">Tarifs Badge</div>
          <h2 class="text-transform-none ls-0">Tarifs H2</h2>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolore voluptatem assumenda quae possimus sunt dignissimos tempora officia.</p>
      </div>

      <div class="col-lg-8">
        <div id="section-pricing" class="page-section p-0 m-0">

          <div id="pricing" class="pricing row align-items-end g-0 col-mb-50 mb-4">

            <div class="col-md-6">

              <div class="pricing-box">
                <div class="pricing-title">
                  <img class="mb-2 bg-transparent rounded-0" src="/assets/images/icons/man.svg" alt="Pricing Icon" width="50">
                  <h3>Plan 1</h3>
                  <span>Most Popular</span>
                </div>
                <div class="pricing-price">
                  0<span class="price-unit">€</span><span class="price-tenure">Per Year</span>
                </div>
                <div class="pricing-features border-0 bg-transparent">
                  <ul>
                    <li><i class="fa-solid fa-check-circle color me-2"></i><strong>Plan</strong> Support</li>
                  </ul>
                </div>
                <div class="pricing-action">
                  <a href="#" class="button button-large button-rounded w-100 text-capitalize m-0 ls-0">Tarif CTA 1</a>
                </div>
              </div>

            </div>

            <div class="col-md-6">

              <div class="pricing-box">
                <div class="pricing-title">
                  <img class="mb-2 bg-transparent rounded-0" src="/assets/images/icons/group.svg" alt="Pricing Icon" width="60">
                  <h3>Plan2</h3>
                </div>
                <div class="pricing-price">
                  0<span class="price-unit">€</span><span class="price-tenure">Per Year</span>
                </div>
                <div class="pricing-features border-0 bg-transparent">
                  <ul>
                    <li><i class="fa-solid fa-check-circle color me-2"></i><strong>Plan</strong> Support</li>
                  </ul>
                </div>
                <div class="pricing-action">
                  <a href="#" class="button button-rounded button-large button-light text-dark bg-white border w-100 text-transform-none m-0 ls-0">Tarif CTA 2</a>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>