---
// src/components/TopBar.astro


---

<!-- Top Bar -->
      <div id="top-bar" class="transparent-topbar">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-12 col-md-auto">
              <div class="top-links">
                <ul class="top-links-container">
                  <li class="top-links-item">
                    <a href="/zones/">Zones Sud Oise / Val d’Oise 95</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-12 col-md-auto">
              <div class="top-links">
                <ul class="top-links-container">
                  <li class="top-links-item">
                    <a href="">06 60 92 10 08</a>
                  </li>
                  <li class="top-links-item">
                    <a href="">contact@horizon-conversion.fr</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>