---
// src/components/Villes.astro
---

<!-- Villes ============================================= -->
<div class="section mt-0">
  <div class="container">
    <div class="heading-block border-bottom-0 text-center">
      <div class="badge rounded-pill badge-default">Villes Badge</div>
      <h2 class="text-transform-none ls-0">Villes H2</h2>
      <span>Villes</span>
    </div>
    <div class="row col-mb-30 align-content-stretch">

      <div class="col-md-4 d-flex">
        <div class="card">
          <div class="card-body p-5">
            <div class="feature-box flex-column">
              <div class="fbox-content">
                <h3 class="text-transform-none ls-0 text-larger">
                  <a href="#" class="link-dark h-text-color">Ville</a>
                </h3>
                <p class="text-smaller">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolore, voluptates!</p>
              </div>
              <ul class="nav nav-pills mt-4 mb-0">
                <li class="nav-item badge rounded-pill badge-color text-smaller me-2">Allentours</li>
                <li class="nav-item badge rounded-pill badge-color text-smaller">Allentours</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>