---
// src/components/ZonesVilles.astro
---

<!-- Zones + Villes ============================================= -->
<div class="section mt-0">
  <div class="container">
    <div class="heading-block border-bottom-0 text-center">
      <div class="badge rounded-pill badge-default">Zones Badge</div>
      <h2 class="text-transform-none ls-0">Zones H2</h2>
      <span>Villes</span>
    </div>
    <div class="row col-mb-30 align-content-stretch">

      <div class="col-md-6 d-flex">
        <div class="card">
          <div class="card-body p-5">
            <div class="feature-box flex-column">
              <div class="fbox-content">
                <h3 class="text-transform-none ls-0 text-larger">Zone</h3>
                <p class="text-smaller">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolore, voluptates!</p>
              </div>
              <div class="row col-mb-30 align-content-stretch">
                <div class="col-md-6 d-flex">
                  <ul class="iconlist ms-3 mt-4 mb-0">
                    <li class="mb-2 text-muted"><a href="#"><u>Ville</u></a></li>
                    <li class="mb-2 text-muted"><a href="#"><u>Ville</u></a></li>
                    <li class="mb-2 text-muted"><a href="#"><u>Ville</u></a></li>
                    <li class="mb-2 text-muted"><a href="#"><u>Ville</u></a></li>
                    <li class="text-muted"><a href="#"><u>Ville</u></a></li>
                  </ul>
                </div>
                <div class="col-md-6 d-flex">
                  <ul class="iconlist ms-3 mt-4 mb-0">
                    <li class="mb-2 text-muted"><a href="#"><u>Ville</u></a></li>
                    <li class="mb-2 text-muted"><a href="#"><u>Ville</u></a></li>
                    <li class="mb-2 text-muted"><a href="#"><u>Ville</u></a></li>
                    <li class="mb-2 text-muted"><a href="#"><u>Ville</u></a></li>
                    <li class="text-muted"><a href="#"><u>Ville</u></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>