---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Contact from "../components/Contact.astro";
import Faqs from "../components/Faqs.astro";
import Testimonails from "../components/Testimonails.astro";
import Reassurance from "../components/Reassurance.astro";
import Blog from "../components/Blog.astro";
import Promo from "../components/Promo.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout
  title="Acquisition locale pour cabinets d’avocats | Sud Oise & Nord 95"
  canonical="https://avocats.horizon-conversion.fr/"
>
  <Header />

  <Hero />

  <!-- Content
  		============================================= -->
  		<section id="content">
  			<div class="content-wrap overflow-visible py-0">

  				<Services />

  				<Contact />

  				<Faqs />

  				<Testimonails />

  				<Reassurance />

  				<Blog />

  				<Promo />

  			</div>
  		</section><!-- #content end -->

  		<Footer />

</BaseLayout>